
/* task items */
.move li.todo	a.item-body {
	color:#336;
	opacity:0.5;
}

.move li.popped {
	opacity:0.1;
}

.move .move-btn {
	display:none;
}

.edit .editing .ui-btn-inner,
.edit .active .move-btn {
  display:none;
}

.timeslot {
	text-align:center;
	padding:1.5em 0 .5em 0;
}

#editbox {
	padding:0 0 0 1em;
}

#editbox .ui-field-contain {
  margin:0;
}

li.todo.completed {
	text-decoration:line-through;
}

li.todo.completed a.item-body {
	color:#999;
}

.day {
	display:none;
}

.day.active {
	display:block;
}

#visualize-export, 
#visualize-export td, 
#visualize-export th  {
	text-align:left;
	padding-right:20px;
}