
/* task items */
.move li.todo	a.item-body {
	color:#336;
}

.move li.popped {
	opacity:0.1;
}

.move .move-btn {
	display:none;
}

.edit .active .ui-btn-inner,
.edit .active .move-btn {
  display:none;
}

.timeslot {
	text-align:center;
	padding:1.5em 0 .5em 0;
}